.my-move-main-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-left: 20px;
  margin-right: 0;
  padding: 10px;
  position: relative;
}
.heading {
  font-size: 20px;
}
.unordered-list {
  padding: 0;
  margin: 0;
}