.nav-container {
  padding: 10px;
  margin-right: 10px;
  max-width: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
}
.nav-item {
  padding: 10px;
}
.nav-item.active {
  border-left-color: red;
  border-left-width: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left-style: solid;
  background-color: transparent;
}
.nav-item:hover {
  border-left-color: red;
  border-left-width: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left-style: solid;
  background-color: transparent;
}
Nav.Link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.icon {
  color: #52504c;
  padding: 5px 0px 0px 0px;
  margin: 0px;
}
span {
  color: black;
}
